export("ADDO_AddDom1_QC")
export("ADDO_AddDom2_Pvalue")
export("ADDO_AddDom3_Plot")
export("ADDO_AddDom4_IntePlot")
export("ADDO_Heterotic1_QC")
export("ADDO_Heterotic2_Pvalue")
export("ADDO_Heterotic3_Plot")
export("ADDO_Heterotic4_IntePlot")
export("plotGWAS")
export("plotRegion")
import("data.table")
import("parallel")
import("bigmemory")
import("mvtnorm")
import("MASS")
import("GenABEL")
import("emma")
